.dart_tool
.flutter-plugins
.flutter-plugins-dependencies
.git
.github
.idea
.vscode

build
coverage
out

android/.gradle
android/app/upload-keystore.jks
ios/Pods
macos/Pods
linux/flutter/ephemeral
windows/flutter/ephemeral

.env
.env.*
*.jks
*.log
.DS_Store

test

